<!DOCTYPE html>
<html>
    <head>
       
<style>
    body{
        background-image:url('/static/images/bg.jpg');
        color: aliceblue;
    }

</style>
    </head>
    <body >
       
         <center><h1>New Collections are available here! </h1>
         <h1>
            After selecting the product use Chatbot for your offers and ordering the products </br>
            The chatbot gives to best offers !!
        </h1>
        <h1>Just enter Hi/Hello at first and chat with your assistant!</h1>
           
        </center>
       
        
     
    
    </body>

</html>